<div class="box">
<a routerLink="/home">
<h1>Hotel Watch</h1>
</a>
<p>Welcome to hotel watch this is the number one website for 
reliable feedback on hotels from costumers just like you. 
Here you can view reviews, and even post your own, just visit
our <a routerLink="/reviews" style="color:blue">reviews</a> page to get started.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Ut ullamcorper eleifend ligula, id euismod urna. Etiam in nisi ac orci iaculis ultricies. 
    Pellentesque sit amet purus enim. 
    Phasellus sem leo, rutrum eget quam non, ultricies venenatis nulla. 
    Donec iaculis quis dolor nec dapibus. Curabitur sit amet posuere lacus. 
    Fusce tempor sed dolor vitae tempor. 
    Vivamus accumsan turpis mi, id mattis nulla congue sed. 
    Integer cursus nunc vel nisi lacinia eleifend. 
    Vestibulum et vulputate enim.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Ut ullamcorper eleifend ligula, id euismod urna. Etiam in nisi ac orci iaculis ultricies. 
    Pellentesque sit amet purus enim. 
    Phasellus sem leo, rutrum eget quam non, ultricies venenatis nulla. 
    Donec iaculis quis dolor nec dapibus. Curabitur sit amet posuere lacus. 
    Fusce tempor sed dolor vitae tempor. 
    Vivamus accumsan turpis mi, id mattis nulla congue sed. 
    Integer cursus nunc vel nisi lacinia eleifend. 
    Vestibulum et vulputate enim.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Ut ullamcorper eleifend ligula, id euismod urna. Etiam in nisi ac orci iaculis ultricies. 
    Pellentesque sit amet purus enim. 
    Phasellus sem leo, rutrum eget quam non, ultricies venenatis nulla. 
    Donec iaculis quis dolor nec dapibus. Curabitur sit amet posuere lacus. 
    Fusce tempor sed dolor vitae tempor. 
    Vivamus accumsan turpis mi, id mattis nulla congue sed. 
    Integer cursus nunc vel nisi lacinia eleifend. 
    Vestibulum et vulputate enim.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
    Ut ullamcorper eleifend ligula, id euismod urna. Etiam in nisi ac orci iaculis ultricies. 
    Pellentesque sit amet purus enim. 
    Phasellus sem leo, rutrum eget quam non, ultricies venenatis nulla. 
    Donec iaculis quis dolor nec dapibus. Curabitur sit amet posuere lacus. 
    Fusce tempor sed dolor vitae tempor. 
    Vivamus accumsan turpis mi, id mattis nulla congue sed. 
    Integer cursus nunc vel nisi lacinia eleifend. 
    Vestibulum et vulputate enim.
</p>
</div>